<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("header.ejs"); %>
    </head>
    
    <body style="background-image: url()">

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div style="display: flex; justify-content: center; margin-top: 100px; ">
                        <form class="row g-3">
                            <div class="text-center">
                                <img src="../<%=user[0].user_photo%>" style="width:200px;height:200px;"/>
                            </div>
                            <div class="row g-3">
                                <div class="col-auto">
                                    <label for="username" class="col-form-label" style="font-weight: bold;">Όνομα Χρήστη</label>
                                </div>
                                <div class="col-12">
                                    <input id="username" class="form-control" type="text" value=<%=user[0].username%> aria-label="readonly input example" readonly>
                                </div>
                                <div class="col-auto">
                                    <label for="bio" class="col-form-label" style="font-weight: bold;">Βιογραφικό</label>
                                </div>
                                <div class="col-12">
                                    <textarea type="text" class="form-control" placeholder="Bio"  id="description" style="height: 100px; resize: none;" readonly><%=user[0].bio%> </textarea>
                                </div>
                                <div class="col-auto">
                                    <label for="socialMedia" class="col-form-label" style="font-weight: bold;">Άλλοι λογαριασμοί</label>
                                </div>
                                <div class="col-12">
                                    <textarea type="text" class="form-control" placeholder="Bio"  id="description" style="height: 50px; resize: none;" readonly><%=user[0].social_media%> </textarea>
                                </div>
                            </div>
                            <div style="margin-bottom: 30px;">
                                <%if(flag == 2){%>
                                    <div style="display: flex; justify-content: end;">
                                        <button type="submit" class="btn btn-success"style="font-size:18px;background-color: #16874bf6; margin-top: 30px;" disabled=true;>Έχει σταλεί αίτημα</button>
                                    </div>
                                <%} else if(flag == 0){%>
                                    <div style="display: flex; justify-content: end;">
                                        <button type="submit" class="btn btn-success"style="font-size:18px;background-color: #16874bf6; margin-top: 30px;" onclick="sendRequest();disabled=true;">Ακολουθήστε</button>
                                    </div>
                                <%} else{%> 
                                    <div style="display: flex; justify-content: end;">
                                        <button type="submit" class="btn btn-success"style="font-size:18px;background-color: #16874bf6; margin-top: 30px;" onclick="removeReq();disabled=true;">Να μην ακολουθώ</button>
                                    </div>
                                <%}%>      
                            </div>
                                              
                        </form>
                    </div>
                </div>
                <div class="col">
                    <p style=" justify-content: center; margin-top: 100px; display: flex; font-weight: bold; font-size: 40px; ">
                        <%=user[0].username%>
                    <div style="display: flex; justify-content:center;">
                    </p>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" onClick="visibility('Event','Contacts')">Εκδηλώσεις</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" onClick="visibility('Contacts', 'Event')">Κοινές Επαφές</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Event" >
                        
                        <div style="display: flex; justify-content: center; margin-top: 40px; ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" onClick="visibility('OrganiseNew', 'OrganiseOld')">Οργανώνει</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" onClick="visibility('OrganiseOld', 'OrganiseNew')">Έχει Οργανώσει</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div id = "OrganiseNew" style="margin-top: 50px;">
                            <% for(var i=0; i<OrganisedNew.length; i++) {%>
                                <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                                    <div class="row g-0" id = "<%=OrganisedNew[i].event_id%>" onclick="eventRedirect(this.id)">
                                        <div class="col-md-4">
                                            <img src="../<%=OrganisedNew[i].event_photo%>" class="img-fluid rounded-start" style="width:200px; height:200px; align-self: center; margin-top: 25px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=OrganisedNew[i].event_title%></h5>
                                                <p class="card-text"><%=OrganisedNew[i].description%></p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" label for="date">
                                                    <date>Ημερομηνία: <%=OrganisedNew[i].date%></date>
                                                </li>
                                                <li class="list-group-item" for="time">
                                                    <time>Ώρα: <%=OrganisedNew[i].time%></time>
                                                <li class="list-group-item">Τοποθεσία: <%=OrganisedNew[i].location_name%></li>                    
                                                <li class="list-group-item">Διοργανωτής: <%=OrganisedNew[i].organiser_name%></li>
                                            </ul>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <div id = "OrganiseOld" style="margin-top: 50px; display: none;">
                            <% for(var i=0; i<OrganisedOld.length; i++) {%>
                                <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                                    <div class="row g-0" id = "<%=OrganisedOld[i].event_id%>" onclick="eventRedirect(this.id)">
                                        <div class="col-md-4">
                                            <img src="../<%=OrganisedOld[i].event_photo%>" class="img-fluid rounded-start" style="width:200px; height:200px; align-self: center; margin-top: 25px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=OrganisedOld[i].event_title%></h5>
                                                <p class="card-text"><%=OrganisedOld[i].description%></p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" label for="date">
                                                    <date>Ημερομηνία: <%=OrganisedOld[i].date%></date>
                                                </li>
                                                <li class="list-group-item" for="time">
                                                    <time>Ώρα: <%=OrganisedOld[i].time%></time>
                                                <li class="list-group-item">Τοποθεσία: <%=OrganisedOld[i].location_name%></li>                    
                                                <li class="list-group-item">Διοργανωτής: <%=OrganisedOld[i].organiser_name%></li>
                                            </ul>                                        
                                        </div>                                        
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div id="Contacts" style= "display: none;">
                        <div style="display: flex; justify-content: center; margin-top: 40px; ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                <a class="nav-link active" aria-current="page" onclick="visibility('follower', 'follows')">Ακόλουθοι</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link active" aria-current="page" onclick="visibility('follows','follower')">Ακολουθεί</a>
                                </li>
                            </ul>
                        </div>

                        <div id='follower' style="margin-top: 50px">
                            
                            <% for(var i=0; i<followed.length; i++) {%>
                                <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                                    <div class="row g-0" id = "<%=followed[i].fk1_user_id%>" onclick="contactRedirect(this.id)">
                                        
                                        <div class="col-md-4">
                                            <img src="<%=followed[i].user_photo%>" class="img-fluid rounded-start" alt="..."style="width:70px;height:70px;">
        
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=followed[i].username1%></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <div id='follows' style="margin-top: 50px; display: none;" >
                            
                            <% for(var i=0; i<follows.length; i++) {%>
                                <div class="card mb-3" style="max-width: 700px;margin: 0 auto;float: none;margin-bottom: 10px;">
                                    <div class="row g-0" id = "<%=follows[i].fk2_user_id%>" onclick="contactRedirect(this.id)">
                                        
                                        <div class="col-md-4">
                                            <img src="<%=follows[i].user_photo%>" class="img-fluid rounded-start" alt="..."style="width:70px;height:70px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=follows[i].username2%></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </body>

    <script>

        function sendRequest(){
            var data={
                "username": username.value
            }
        
            console.log(username)
            // Sending and receiving data in JSON format using POST method
            var xhr = new XMLHttpRequest();
            var url = "/sendRequest";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var dataJSON = JSON.stringify({data});
            xhr.send(dataJSON);
        };

        function removeReq(){
            var data={
                "username": username.value
            }
            // Sending and receiving data in JSON format using POST method
            var xhr = new XMLHttpRequest();
            var url = "/removeFollower";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var dataJSON = JSON.stringify({data});
            xhr.send(dataJSON);
        };


        function visibility(idVisible, idInvisible){
            document.getElementById(idVisible).style.display="block";
            document.getElementById(idInvisible).style.display="none";
        }
        function eventRedirect(arg){
            location.href = "/eventprofile/".concat(arg);
        };

        function contactRedirect(arg){
            console.log(id)
            location.href = "/profileOther/".concat(arg);
        };
    </script>
    
</html>
